body
{
    font-family: 'Poppins';
    background-image: url(assets/bg.png);
    margin: 0;
    padding: 0;
}

h1{
    color:rgb(90, 37, 192);
    display: flex;
    justify-content: center;
    top: 60px;
    font-size: 50px;
}

img[alt="game logo"] 
{
    padding-top: 10px;
    padding-left: 425px;
    height: 400px;
    width: 400px;
}

#play-btn{
    color: white;
    font-size: 30px;
    display: flex;
    justify-content: flex-end;
    padding-right: 400px;
}

#play-btn img{
    width: 35px;
    height:35px;
    padding-right: 20px;
}